.App {
  text-align: center;
}

:root {
  --primary-color: #282c34;
  --primary-text-color: white;
}

.App-header {
  background-color: var(--primary-color);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 1rem;
  color: var(--primary-text-color);
}

.App-header h1 {
  font-size: 1.7rem;
}

.App-header h2 {
  font-size: 1.5rem;
}

.App-link {
  color: #61dafb;
}

.App-list {
  padding: 0;
  list-style: none;
  display: flex;

}

.App-list-item {
  padding: 0 1rem;
}

.App-list-item > * {
  text-decoration: none;
}


.App-main {
 min-height: 65vh;
}

.App-footer {
  background-color: var(--primary-color);
  min-height: 5vh;
  color: var(--primary-text-color);
  text-align: center;
}